<div class="nav-container">
	<div class="nav-box">
			<ul style="list-style: none;">
					<router-link class="tab" :currentTab="Organization" to="/" tag="li" v-on:click.native="changeTab('Organization')">Organisationer</router-link>
					<router-link class="tab" :currentTab="Practitioner" to="/medarbejdere" tag="li" v-on:click.native="changeTab('Practitioner')">Medarbejdere</router-link>
		</ul>
	</div>
	<modal
	v-if="showModal"
	@close="showModal=false"
	:currentTab='undefined'
	:noneToRemove="false"
	:somethingWrong="false"
	:isAliasModal='false'
	:isAddPractitionerModal="false"
	:isSaveModal="true"
></modal>
</div>