@import '../../common/scss/_main.scss';

.nav-container {
    margin: 0 auto;
    height          : 5%;
    width           : 100%;
    background      : $background-primary;
  }


ul {
    list-style-type: none;

}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #666;
    padding: 0 20px;
    cursor: pointer;
}



li:last-child {
    border-right: none;
}

.tab {
    text-decoration: none;
    color: $background-tertiary;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .tab:hover {
    color: $font-hover;
  }
   
  .router-link-exact-active {
    font-weight: bold;
    color: $font-dark;
    cursor: context-menu;
  }
// .tab {
//     background: $secondary;
//     font-family            : 'Fira Sans', sans-serif;
//     font-size: 2rem;
//     line-height:    175%;
//     height          : 80%;
//     width           : 50%;
//     cursor: pointer;
//     color:          $font-dark;
//     text-align      : center;  
//     float           : left; 
//     border-style: solid;
//     border-color: $background-primary
// }
// .activeTab {
//     border-style : hidden;
//     background:  $primary;
// }
