<template src="./navigation.html"></template>
<style lang="scss" src="./navigation.scss"></style>

<script>
import { bus } from "../../main";
import modal from "../modal/modal.vue";

export default {
  name: "navigation",

  components: {
    modal
  },

  data() {
    return {
      Organization: 'Organization',
      Practitioner: 'Practitioner',
      showModal: false,
      isSaveModal: true
    };
  },
  methods: {
    changeTab: function(tab) {
      if (tab != this.currentTab) {
        return new Promise( (resolve,reject) => {
          if(this.$store.getters.changesMade){
            this.showModal = true}
        })
        if(this.$store.getters.changesMade){
        this.showModal = true
        } else {
          bus.$emit("tabChanged", tab);
          this.$store.commit("firstSelected", {
            id: "",
            name: "",
            alias: "",
            connectedList: []
          });
        }
      }
    }
  },
};
</script>

