<template src="./par.html"></template>
<style lang="scss" src="./par.scss"></style>

<script>
import { bus } from "../../main";
import objectList from "../objectList/objectList.vue";
import modal from "../modal/modal.vue";
import { Organization } from '../../common/model/organization';
import { ExecuteRequest } from '../../common/model/executeRequest';

export default {
  components: {
    left: objectList,
    right: objectList,
    modal
  },

  props: {
    leftList :{
      type: Array
    },
    rightList :{
      type: Array
    },
    currentTab:{
      type: String
    }
  },

  data() {
    return {
      second: "second",
      third: "third",
      showModal: false,
      addedIds: [],
      isActive: false,
      addedItems: []
    };
  },

  computed: {
    tipText1(){
      if(this.currentTab==="Organization"){
        return "medarbejder"
      } else {
        return "organisation"
      }
    },
  tipText2(){
      if(this.currentTab==="Organization"){
        return "organisation"
      } else {
        return "medarbejder"
      }
    },
    filteredList: function() {
      return this.leftList.filter(item => {
        if(this.listOfRightIds.includes(item.id)) {
          return false
        } else return true
      })
    },
    listOfRightIds: function() {
      let list = []
      for(let i=0; i < this.rightList.length; i++){
        list.push(this.rightList[i].id)
      }
      return list
    },
    firstSelected: {
      get() {
        return this.$store.getters.firstSelected;
      },
      set(selected) {
        this.$store.commit("firstSelected", selected);
      }
    },
    secondSelected: {
      get() {
        return this.$store.getters.secondSelected;
      },
      set(selected) {
        this.$store.commit("secondSelected", selected);
      }
    },
    thirdSelected: {
      get() {
        return this.$store.getters.thirdSelected;
      },
      set(selected) {
        this.$store.commit("thirdSelected", selected);
      }
    },
  },

  methods: {
    containsOrganizationLists(){
      return this.currentTab != 'Organization'
    },

    contains(list,itemId){
      for(let i=0; i < list.length; i++){
        if (list[i].id = itemId){
          return true
        }
      }
      return false
    },

    add() {
      if (this.secondSelected.id !== ""){
        this.$store.dispatch('constructPractitionerRole',
        {
          currentTab: this.currentTab,
          type: 'create'
          })
      }
    },

    remove() {
      if (this.thirdSelected.id != "") {
        this.$store.dispatch('constructParameters',this.currentTab)
        bus.$emit('thirdSelectedChanged', { id: "", name: "", alias: "" })
      }
    },

    SaveChanges() {
      this.$store.dispatch('executeSaved')
    }
  },

  created() {
    bus.$on('firstSelectedChanged', (selected) => {
        this.isActive = !(selected.id === "")
    });
    bus.$on("secondSelectedChanged", item => {
      this.secondSelected = item;
    });
    bus.$on("thirdSelectedChanged", item => {
      this.thirdSelected = item;
    });

    bus.$on("tabChanged", tab => {
      this.secondSelected = undefined
      this.thirdSelected = undefined
      this.isActive = false
    });
  }
};
</script>