<div class="parBox" v-if="isActive">
  <div class="body">
    <div class="inline">
      <left
        :currentTab="currentTab"
        :items="filteredList"
        :listId="second"
        class="addListItems"
        :isOrganizationList="containsOrganizationLists()"
      >
      </left>
    </div>
    <div class="buttonBox">
      <div class="singleButton">
        <button @click="add()" class="addRemoveButton">
          Tilføj
          <div class="svgBox">
            <svg
              width="20px"
              height="20px"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 129 129"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              enable-background="new 0 0 129 129"
            >
              <g>
                <path
                  d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"
                />
              </g>
            </svg>
          </div>
        </button>
      </div>
      <div class="singleButton">
        <button @click="remove()" class="addRemoveButton">
          Fjern
          <div class="svgBox">
              <svg
              width="20px"
              height="20px"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 477.175 477.175"
                style="enable-background:new 0 0 477.175 477.175;"
                xml:space="preserve"
              >
                <g>
                  <path
                    d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"
                  />
                </g>
              </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="inline">
      <right
        :currentTab="currentTab"
        :items="rightList"
        :listId="third"
        class="removeListItems"
        :isOrganizationList="containsOrganizationLists()"
      ></right>
    </div>
  </div>
  <div class="bottomBox">
    <div class="bottomBox bottomBoxText" :class="{textActive: isActive}">
      Tilføj eller fjern tilknyting af <b>{{ tipText1 }}</b> til valgte
      <b>{{ tipText2 }}</b>
    </div>
    <button @click="SaveChanges()" class="bottomBox saveButton">
      <div class="text">
          Gem ændringer
      </div>
    </button>
  </div>
  <modal
    v-if="showModal"
    @close="showModal=false"
    :selected="leftSelected"
    :somethingWrong="true"
  >
  </modal>
</div>
