@import "../../common/scss/_main.scss";

.parBox {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

}

.addRemoveButtons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.addListItems {
  width: 100%;
  float: left;
}

.removeListItems {
  width: 100%;
  float: right;
}

.inline {
  display: inline-block;
  height: 100%;
  width: 40%;
}

.buttonBox {
  cursor: pointer;
  height: auto;
  width: 20%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.svgBox {
  margin-top: 5px;
}

.singleButton {
  padding: 3px;
}

.bottomBox {
  display: flex;
  cursor: pointer;
  width: 100%;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
}

.bottomBox.saveButton {
  margin-left: 1em;
  width: 15%;
  padding: 10px;
}

.text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottomBoxText {
  display: block;
  background: $background-disabled;
  padding: 0.5em;
  border: solid 1px;
  cursor: context-menu;
  text-align: center;
}
.textActive{
  background:$secondary;
}
