@import "../../common/scss/_main.scss";

.sacBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.list {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.bottomText {
  margin-top: 0.8em;
  padding: 0.5em;
  border: solid 1px;
  cursor: context-menu;
  background: $secondary;
}
.active {
  display: none
}
