<div class="sacBox">
        <div class="list">
            <objectList :items="list" :selected="firstSelected" :listId="SelectList" :currentTab="currentTab" :isOrganizationList="containsOrganizationList()">
            </objectList>
        </div>  
        <div :class="{active: isActive}" class="bottomText">
            Vælg ovenfor den <b>{{ tipText }}</b> du ønsker at redigere tilknytninger for.
        </div>
</div>