<template src="./sac.html"></template>
<style lang="scss" src="./sac.scss"></style>


<script>
import { bus } from "../../main";
import { ExecuteRequest } from "../../common/model/executeRequest";
import { Practitioner } from "../../common/model/practitioner";

import objectList from "../objectList/objectList.vue";
import modal from "../modal/modal.vue";
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "sac",

  components: {
    objectList
  },

  props: {
    list: {
      type: Array
    },
    currentTab: {
      type: String
    }
  },

  data() {
    return {
      searchTerm: "",
      modifiableList: [],
      SelectList: "first",
      isActive: false
    };
  },
  computed: {
    firstSelected: {
      get() {
        return this.$store.getters.firstSelected;
      },
      set(selected) {
        this.$store.commit("firstSelected", selected);
      }
    },
    tipText() {
      if (this.currentTab === "Organization") {
        return "organisation";
      } else {
        return "medarbejder";
      }
    },
  },

  methods: {
    containsOrganizationList() {
      return this.currentTab === "Organization";
    },
    ...mapMutations(["firstSelected"]),
    ...mapActions([]),
    newSelected(selected) {
      this.firstSelected = selected;
    }
  },

  created() {
    bus.$on("tabChanged", tab => {
      this.selected = { id: "", name: "", alias: "" };
      this.isActive = false;
    }),
      bus.$on("firstSelectedChanged", selected => {
        //this.newSelected(selected);
        this.firstSelected = selected;
        this.isActive = !(selected.name === "") // TODO: what criteria to decide on -- same in par.vue
        this.$store.dispatch('newFirstSelected',selected)
      });
  }
};
</script>


