@import  '../../common/scss/_main.scss';

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modalInput{
    width: 80%;
    padding-top: 1em; 
    padding-bottom: 1em;
    margin: auto;
  }
  
  .modal-container {
    height: auto;
    width: 60%;
    margin: 0px auto;
    padding: 40px 30px;
    background-color:  $background-primary;
    border-width: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    border-style: solid;
    border-color: $background-tertiary;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .modal-header {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .modal-body {
    margin: 20px 0;
  }

  .modal-vertical-center{
    height: 100px
  }
  
  .buttonPadding{
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .modal-default-button {
    float: left;
  }

  .modal-footer {
    width:200px;
    margin: 0 auto;
    height: auto;
  }

  .leftButton{
    width: 45%;
    display: inline-block;
  }
  .rightButton{
    width: 45%;
    display: inline-block;
  }
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }