<template src="./modal.html"></template>
<style lang="scss" src="./modal.scss"></style>

<script>
import { bus } from "../../main";
import { ExecuteRequest } from '../../common/model/executeRequest'
import { Practitioner } from '../../common/model/practitioner'
export default {
  name: "modal",

  props: {
    selected: {
      type: Object,
      default: function(){
        return ({ id: '', name: '', alias: '' })
      }
    },
    isAliasModal: {
      type: Boolean
    },
    isErrorModal: {
      type: Boolean
    },
    isAddPractitionerModal: {
      type: Boolean
    },
    isSaveModal: {
      type: Boolean
    },
    currentTab: {
      type: String
    },
    noneToRemove: {
      type: Boolean
    },
    somethingWrong: {
      type: Boolean
    }
  },

  data() {
    return {
      selectedEmpty: this.selected.name === '',
      isOrg: this.currentTab === "Organization",
      pracName: "",
      pracId: "",
      alias: this.selected.alias
    };
  },

  computed: {
    firstSelected: {
      get() {
        return this.$store.getters.firstSelected;
      },
      set(selected) {
        this.$store.commit("firstSelected", selected);
      }
    },
    changesMade : {
      get() {
        return this.$store.getters.changesMade
      },
      set(boolean) {
        this.$store.commit('changesMade', boolean)
      }
    },
    buttonMsg() {
      if (this.isOrg) {
        return "Gem alias";
      } else if (this.isSaveModal){
        return "Gem Ændringer"
      } else {
        return "Tilføj medarbejder";
      }
    },
    errorMsg() {
      if (this.somethingWrong) {
          return this.selected.name+ " er allerede tilføjet."
      } else {
        if (this.isOrg) {
          return "Ingen organisation er valgt. Vælg en for at tilføje et alias";
        } else {
          return "Ingen medarbejder er valgt";
        }
      }
    },
  },

  methods: {
    admit: function() {
      if (this.currentTab === "Organization") {
        var tempSelected = this.firstSelected;
        tempSelected.setAlias(this.alias)
        this.firstSelected = tempSelected;
        const exeReq = new ExecuteRequest()
        exeReq.id = this.firstSelected.id
        exeReq.resource = this.firstSelected
        exeReq.requestType = 'update'
        exeReq.resourceType = 'Organization'
        this.$store.dispatch('pushExecution', exeReq)
        this.alias = "";
      } else {
        var names = this.pracName.trim().split(' ')
        var tempLastname = names.pop()
        var prac = {
          authId: this.pracId,
          lastName: tempLastname,
          firstName: this.pracName.replace(tempLastname,''),
          active: true,
        }
        const practitioner = new Practitioner()
        practitioner.fromObject(prac)
        const exeReq = new ExecuteRequest()
        exeReq.id = undefined
        exeReq.resource = practitioner
        exeReq.requestType = 'create'
        exeReq.resourceType = 'Practitioner'
        this.$store.dispatch('pushExecution',exeReq)
        this.pracName = "";
        this.pracId = "";
      }
    },
    saveChanges: function(){
      this.$store.dispatch('saveChanges')
      bus.$emit('isSaveModal', false)
    },
    resetChanges: function(){
      this.$store.dispatch('resetChanges')
      bus.$emit('isSaveModal', false)
    }
  }
};
</script>
