<transition name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
          <div v-if="isOrg">
            <div v-if="!selectedEmpty && !isSaveModal" class="modal-container">
                <div class="modal-header">
                    <slot name="header">
                        Vælg et alias til {{selected.name}}
                      <div class="modalInput">
                          <input v-model="alias" type="text" placeholder="Alias"></input>
                      </div>
                    </slot>
                </div>            
                <div class="modal-footer">
                  <slot name="footer">
                      <div class="buttonPadding">
                      <button class="modal-default-button" @click="$emit('close'); admit()">
                          {{ buttonMsg }}
                        </button>
                        </div>
                        <div class="buttonPadding">
                        <button class="modal-default-button" @click="$emit('close')">
                            Cancel
                          </button>
                        </div>
                  </slot>
                </div>
            </div>
          </div>
          <div v-if="!isOrg && isAddPractitionerModal && !somethingWrong" class="modal-container">
                  <div class="modal-header">
                      <slot name="header">
                          Navn på medarbejder:
                          <div class="modalInput">
                              <input v-model="pracName" type="text" placeholder="Name"/>
                          </div>
                          Autorisations-ID:
                        <div class="modalInput">
                          <input v-model="pracId" type="text" placeholder="ID"/>
                        </div>
                      </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                  <div class="buttonPadding">
                      <button class="modal-default-button" @click="$emit('close');  admit()">
                          {{ buttonMsg }}
                        </button>
                  </div>
                  
                  <div class="buttonPadding">
                    <button class="modal-default-button" @click="$emit('close')">
                        Annuller
                    </button>
                  </div>
                </slot>
              </div>
          </div>
          <div v-if="!isAddPractitionerModal && ((selectedEmpty && isOrg) || (!isOrg && noneToRemove) || somethingWrong)" class="modal-container">
            <div class="modal-header">
                <slot name="header">
                    Du kan ikke gøre dette. {{ errorMsg }}
                </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="$emit('close'); $emit('resetNoneToRemove')">
                        Okay
                </button>
              </slot>
              </div>
            </div>
          <div v-if="isSaveModal" class="modal-container">
              <div class="modal-header">
                  <slot name="header">
                      Du har foretaget en eller flere ændringer. Ønsker du at gemme disse ændringer?
                  </slot>
              </div>
              <div class="modal-footer">
                  <div class="buttonPadding">
                      <button class="modal-default-button" @click="$emit('close');  saveChanges()">
                          Gem ændringer
                        </button>
                  </div>
                  <div class="buttonPadding">
                    <button class="modal-default-button" @click="$emit('close'); resetChanges()">
                        Gem ikke ændringer
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</transition>