@import '../../common/scss/_main.scss';

.rootContainer{
  height: 95%
}

.block {
  display: block;
  height: 45%;
  width: 90%;
}

.block.first{
  padding-bottom: 10em;
}

.block.second{
  padding: 1em;
  background: $background-tertiary
}