<template src="./organizationView.html"></template>
<style lang="scss" src="./organizationView.scss"></style>
<script>
import { bus } from "../../main";
import sac from "../searchAndChoose/sac.vue";
import par from "../pickAndRemove/par.vue";

export default {
  name: "navigation",

  components: {
    sac,
    par
  },
  data() {
    return {
      currentTab: "Organization"
    };
  },

  computed: {
    organizationList: {
      get() {
        return this.$store.getters.organizationList;
      }
    },
    practitionerList: {
      get() {
        return this.$store.getters.practitionerList;
      },
      set(list) {
        this.$store.commit("practitionerList", list);
      }
    },
    connectedList: {
      get() {
        return this.$store.getters.connectedList;
      },
      set(list) {
        this.$store.commit("connectedList", list);
      }
    },
    addedPractitioners: {
      get() {
        return this.$store.getters.addedPractitioners;
      },
      set(list) {
        this.$store.commit("addedPractitioners", list);
      }
    },
    finalPractitionerList(){
      return [... this.practitionerList,
              ... this.addedPractitioners]
    }
  },

  created() {
    bus.$on("removeFollowingItems", list => {
      this.practitionerList = this.practitionerList.filter(item => {
        return !list.includes(item);
      });
      if (list.includes(this.selected)) {
        bus.$emit("SelectListChanged", { id: "", name: "", alias: "" });
      }
    });
  }
};
</script>

