<div class="rootContainer">
    <sac :list="organizationList" :currentTab="currentTab" class="block first"/>
    <par :leftList="finalPractitionerList" :rightList="connectedList" :currentTab="currentTab" class="block second"/>
</div>