/** GLOBAL STYLING **/

* {
	box-sizing             : border-box;
}

body {
	background             : $background-secondary;
	font-family            : 'Lato', sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	color                  : $font-dark;
}

h1, h2, h3, h4 {
	font-family            : 'Fira Sans', sans-serif;
	margin                 : 0;
	padding                : 0;
}

input {
	font-size              : .9rem;
	color                  : $font-dark;
}

input[type=text], input[type=email], input[type=number], date-picker {
	padding                : 10px;
	width         : 100%;
	height        : 38px;
}

input::placeholder {
	font-size              : .9rem;
	color                  : $font-disabled;
}

input:disabled {
	background-color       : #ebebeb;
	border                 : 1px solid rgb(200, 200, 200);
}

label[disabled=disabled] {
	color                  : $font-disabled;
}

button {
	box-sizing             : border-box;
	background             : $background-secondary;
	border            	   : 2px solid $background-secondary; 
	font-weight            : 700;
	width                  : 100%;
	padding                : 10px;
	font-size              : .9rem;
	color                  : $font-dark;
	cursor: pointer;
	box-shadow             : $shadow-small;
}

button:disabled {
	background-color       : #ebebeb;
	color				   : $font-disabled;
	border                 : 2px solid rgba(0, 0, 0, 0);
}

/** grid styles */