/** VARS - Scss variables */

// Colors
$primary             : #569dc4;
$secondary           : #EFC88B;
$tertiary			 : #B07156;
$fourth              : #533745;
$success             : rgb(235, 177, 84);

$background-primary  : #E1F1F7;
$background-secondary: #9ACFE0;
$background-tertiary    : #5BA8C1;
$background-quarternary : #E1E9ED;
$background-five        : rgb(241, 250, 255);
$background-disabled : #9CA9AD;

$font-dark           : #1F3238;
$font-hover          : #3A545B;
$font-light          : #B7EDFF;
$font-disabled		 : rgb(78, 104, 112);

// Box-shadows
$shadow-small        : 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-large        : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


