<div class="listRootBox">
  <div class="topBox">
      <div v-if="!viewButton" class="description">
        {{ Description }}
      </Div>
    <Div class="searchBarBox">
      <input v-model="searchTerm" type="text" placeholder="Søg" />
    </div>
    <div class="topButtonBox" v-if="viewButton" @click="addPractitionerClicked">
      <button>{{ buttonText() }}</button>
    </div>
    <div
      class="topButtonBox"
      v-if="viewButton && (currentTab === 'Practitioner')"
      @click="removePractitioner();"
      :noneToRemove="noneToRemove"
    >
      <button>Fjern valgte medarbejder</button>
    </div>
  </div>
  <div class="listBox" id="style-1">
    <table cellpadding="3" class="tableContent">
      <thead>
        <tr class="row header">
          <th class="row-1 name">
            Navn
          </th>
          <th v-if="isOrganizationList" class="row-2 alias">
            Alias
          </th>
          <th class="row-4 id">
            {{ idText() }}
          </th>
          <th v-if="isOrganizationList" class="row-3 parrentId">
            Tilhører
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="row content"
          v-for="item in filteredList()"
          @click="setSelected(item)"
          :class="{highlight:(item.name == selected.name && item.id == selected.id)}"
        >
          <td v-if="isOrganizationList">
            {{ item.name }}
          </td>
          <td v-if="!isOrganizationList">
            {{ item.name }} 
          </td>

          <td v-if="(isOrganizationList)">
            {{ item.alias }}
          </td>
          <td v-if="(isOrganizationList)">
            {{ item.sor }}
          </td>
          <td v-if="(!isOrganizationList)">
            {{ item.authId }}
          </td>
          <td v-if="isOrganizationList">
            {{ item.parrentSor }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <modal
    v-if="showModal"
    @close="showModal=false; resetAddPractitionerClicked()"
    :selected="selected"
    :currentTab="currentTab"
    :noneToRemove="noneToRemove"
    :somethingWrong="false"
    :isAddPractitionerModal="isAddPractitionerModal"
    :isSaveModal="isSaveModal"
  ></modal>
</div>
