<template src="./objectList.html"></template>
<style lang="scss" src="./objectList.scss"></style>

<script>
import { bus } from "../../main";
import modal from "../modal/modal.vue";
import { ExecuteRequest } from "../../common/model/executeRequest";

export default {
  name: "objectList",

  components: {
    modal
  },

  props: {
    items: {
      required: true
    },
    listId: {
      type: String,
      required: true
    },
    currentTab: {
      type: String
    },
    isOrganizationList: {
      type: Boolean
    }
  },

  data() {
    return {
      selected: {
        id: "",
        name: "",
        alias: ""
      },
      id: this.listId,
      searchTerm: "",
      viewButton: this.listId === "first",
      showModal: false,
      noneToRemove: false,
      isAddPractitionerModal:false,
      isSaveModal: false,
    };
  },

  computed: {
    firstSelected: {
      get() {
        return this.$store.getters.firstSelected;
      },
      set(selected) {
        this.$store.commit("firstSelected", selected);
      }
    },
    changesMade : {
      get() {
        return this.$store.getters.changesMade
      },
      set(boolean) {
        this.$store.commit('changesMade', boolean)
      }
    },
    
    Description: function() {
      if (this.id === "second") {
        if (this.currentTab === 'Organization') {
          return 'Ikke tilknyttede medarbejdere'
        } else {
          return 'Ikke tilknyttede organisationer'
        }
      } else {
        if (this.currentTab === 'Organization'){
          return 'Tilknyttede medarbejdere'
        } else {
          return 'Tilknyttede organisationer'
        }
      }
    }
  },

  methods: {
    addPractitionerClicked(){
      this.showModal=true,
      this.isAddPractitionerModal= true
    },
    idText: function() {
      if (this.isOrganizationList) {
        return "SOR-kode";
      } else {
        return "Autorisations ID";
      }
    },
    resetNoneToRemove: function() {
      noneToRemove = false;
    },
    resetAddPractitionerClicked(){
      this.isAddPractitionerModal = false
    },
    buttonText: function() {
      if (this.currentTab === "Organization") {
        return "Rediger Alias";
      } else {
        return "Tilføj medarbejder";
      }
    },
    setSelected: function(item) {
      if(this.listId === 'first' && this.changesMade){
        this.showModal = true,
        this.isSaveModal = true
      } else {
        if (this.selected === item) {
          this.selected = {
            id: "",
            name: "",
            alias: ""
          };
          bus.$emit(this.listId + "SelectedChanged", this.selected);
        } else {
          bus.$emit(this.listId + "SelectedChanged", item);
          this.selected = item;
        }
      }
    },
    filteredList() {
      if (this.searchTerm === "") {
        return this.items;
      } else {
        if (this.isOrganizationList) {
          return this.items.filter(item => {
            return (
              item.name.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
              this.searchTerm === item.id.toString(10) ||
              item.alias
                .toLowerCase()
                .includes(this.searchTerm.toLowerCase()) ||
              item.sor.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
              item.parrentSor
                .toLowerCase()
                .includes(this.searchTerm.toLowerCase())
            );
          });
        } else {
          return this.items.filter(item => {
            return (
              item.firstName
                .toLowerCase()
                .includes(this.searchTerm.toLowerCase()) ||
              item.lastName
                .toLowerCase()
                .includes(this.searchTerm.toLowerCase()) ||
              item.authId
                .toLowerCase()
                .includes(this.searchTerm.toLowerCase()) ||
              item.id.toLowerCase().includes(this.searchTerm.toLowerCase())
            );
          });
        }
      }
    },
    removePractitioner() {
      if (this.selected.name === "") {
        this.showModal = true;
        this.noneToRemove = true;
      } else {
        const exeReq = new ExecuteRequest();
        exeReq.resource = this.firstSelected;
        exeReq.resourceType = "delete";
        exeReq.resource = this.currentTab;
        this.$store.dispatch("pushExecution", exeReq);
        this.firstSelected = {
          id: "",
          name: "",
          alias: ""
        };
        this.selected = this.firstSelected;
      }
    },
  },
  created() {
    bus.$on(this.id + "SelectedChanged", selected => {
      this.selected = selected;
    });
    bus.$on("tabChanged", () => {
      this.selected = { id: "", name: "", alias: "" };
      this.searchTerm = "";
    });
    bus.$on("isSaveModal", boolean => {
      this.isSaveModal = boolean
    });
  }
};
</script>