@import  '../../common/scss/_main.scss';

.listRootBox{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%
}

.topBox{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}
.topButtonBox{
    width: 210px;
    float: right;
    padding: 6px;
}


.description{
    width: auto;
    vertical-align: top;
	padding                : 10px;
	font-size              : 1.5rem;
	color                  : $font-disabled;
    font: 20px Helvetica, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}

.searchBarBox{
    width: 300px;
    padding-left: 0.5em;
}

input {
    border-color: $background-quarternary;
    background: $background-five
}


#style-1::-webkit-scrollbar-track
{
    box-shadow: #666;
	-webkit-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $background-primary;
}

#style-1::-webkit-scrollbar-corner{
    background-color: $background-primary;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color:$background-secondary;
}

#style-1::-webkit-scrollbar-thumb
{
    box-shadow: rgb(0, 0, 0);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $background-secondary;
}
.listBox{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto; 
    background:  $background-secondary;
    border-style:  solid;
    border-width: 2px;
    border-color: $background-tertiary;
    
}

.grid {
    height: auto;
    width: 100%;  
}


.tableContent{
    table-layout: auto;
    white-space: nowrap;
    width: 100%;
    //grid-template-columns: repeat(4,minmax(230px,auto));
}

.row.header {
    height: auto;
    vertical-align: center;
    background: $background-tertiary;
    line-height: 30px;
    font-family: monospace;
    font-size: 15px;
    cursor: context-menu;
}

.row.content{
    border: groove;
    border-width: 1px;
    border-color: $font-light;
    height: auto;
    max-height: 90px;
    line-height: 160%;
    background: $background-quarternary;
    cursor: pointer;

    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.row.content:hover {
    background: $background-five
}

.gray{
    background: gray !important;
    cursor: default
}

.clear {
    clear: both;
}

.highlight{
    background: $success !important;
}

.name {
    padding-right: 2em;
    text-align: left;
    min-width: 1em;
    width: auto;
	float                  : left;
	margin-left                 : 0 2.4%;
    border-left: 1px solid $background-tertiary;
}

.alias{
    text-align: left;
    min-width: 100%;
    padding-right: 2em;
}
.parrentId{
    text-align: left;
    padding-right: 2em;
}
.id{
    text-align: left;
    padding-right: 2em;
}

.removedItem{
    background: $background-disabled !important;
    cursor: default
}

.titlebox{
    float: left;
    padding: 0 20px;
    border-right: 1px solid #666;
    vertical-align: middle;
}