<template src="./practitionerView.html"></template>
<style lang="scss" src="./practitionerView.scss"></style>
<script>
import sac from "../searchAndChoose/sac.vue";
import par from "../pickAndRemove/par.vue";

export default {
  name: "navigation",

  components: {
    sac,
    par
  },
  data() {
    return {
      currentTab: "Practitioner"
    }
  },
  computed: {
    organizationList: {
      get() {
        return this.$store.getters.organizationList;
      }
    },
    practitionerList: {
      get() {
        return this.$store.getters.practitionerList;
      }
    },
    connectedList: {
      get() {
        return this.$store.getters.connectedList;
      },
      set(list) {
        this.$store.commit("connectedList", list);
      }
    },
    addedPractitioners: {
      get() {
        return this.$store.getters.addedPractitioners;
      },
      set(list) {
        this.$store.commit("addedPractitioners", list);
      }
    },
    finalPractitionerList(){
      return [... this.practitionerList,
              ... this.addedPractitioners]
    }
  }
};
</script>