@import '../../common/scss/_main.scss';

.rootContainer{
  height: 95%
}

.block {
  display: block;
  height: 45%;
  width: 90%;
}

.block.first{
  padding-bottom: 1em;
}

.block.second{
  padding: 1em;
  border: solid;
  background: rgba(85, 199, 248, 0.308);
  border-width: 2px;
  border-color: $background-tertiary
}