<div class="rootContainer">
        <sac :list="finalPractitionerList" class="block first" :currentTab="currentTab"/>
        <par :leftList="organizationList" :rightList="connectedList" class="block second" :currentTab="currentTab"/>
    </div>