@import 'common/scss/_main';

#app {
	display                : block;
	height                 : 100%;
	width                  : 100%;
}

.container {
	display                : block;
	height                 : 95%;
	width                  : 100%;
	margin                 : auto;
	position               : absolute;
	top                    : 0; 
	left                   : 0; 
	bottom                 : 0; 
	right                  : 0;
	background-color       : $background-primary;
	box-shadow             : $shadow-large;
}
