<template src="./app.html"></template>
<style lang="scss" src="./_app.scss"></style>

<script>
import navigation from './components/navigation/navigation.vue'

export default {
  name: 'app',
  components: {
    navigation,
  },
  data: function() {
  return {
      sideNavn: 'Organization'
    };
  }
}
</script>

